<% title "Editing Fill Up" %>

<% content_for :navigation do %>
	<li><%= link_to 'Back', @vehicle %></li>
<% end %>

<% form_for @fill_up, :url => vehicle_fill_up_path(@vehicle, @fill_up), :html => {:method => :put} do |f| %>
	<%= render :partial => 'form', :object => f %>
<% end %>
