<% title 'New Fill Up' %>

<% content_for :navigation do %>
	<li><%= link_to 'Back', vehicles_path %></li>
<% end %>

<% form_for([:vehicle, @fill_up]) do |f| %>
<%= render :partial => 'fill_up_fields', :locals => {:form => f} %>
<% end %>

