<% title 'Imported Fill Ups Report' %>

<% content_for :navigation do %>
	<li><%= link_to 'Back', vehicles_path %></li>
<% end %>

<% @failures.each do |key, value| %>
<p>
Fill up dated <%= key %> could not be created because:
<ol>
	<% value.each do |error| %>
		<li><%= error %></li>
	<% end %>
</ol>
</p>
<% end %>


