/* Start Forms */

form fieldset 
{
	/*width: 450px;*/
	font-size: 12pt;
}

form fieldset legend,
form label,
form input,
form select,
form select option,
form textarea 
{
	font-color: #000;
}

form input,
form textarea 
{
	border-top: 2px solid #999999;
	border-left: 2px solid #999999;
	border-right: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	background-color: #fff;
	height: 1.5em;
	font-size: 110%;
}

form input[type=text],
form input[type=password],
form textarea 
{
	width: 16em;
}

form select 
{
	height: 1.5em;
	font-size: 110%;
}

form input[type=submit],
form input[type=button] 
{
	background: #229316;
	color: #fff;
	border-top: 2px solid #55c649;
	border-left: 2px solid #55c649;
	border-right: 2px solid #006000;
	border-bottom: 2px solid #006000;
	font-size: 100%;
	width: 100px;
	line-height: 1;
	height: 2em;
	margin: 0 5px 0 0;
}

form input[type=submit][value=Cancel] 
{
	border-top: 2px solid #e68582;
	border-left: 2px solid #e68582;
	border-bottom: 2px solid #801f1c;
	border-right: 2px solid #801f1c;
	color: #ffb8b5;
	background: #b3524f;
}

form div.fieldWithErrors 
{
	display: inline;
}

form div.fieldWithErrors input, form div.fieldWithErrors select, form div.fieldWithErrors textarea 
{
	border-top: 2px solid #8F0600;
	border-left: 2px solid #8F0600;
	border-bottom: 2px solid #BB4036;
	border-right: 2px solid #BB4036;
	line-height: 1.5em;
}

/* This is the style for the whole section side */
form div.check-box-field,
form div.check-box-fields,
form div.date-field,
form div.datetime-field,
form div.file-field,
form div.password-field,
form div.radio-field,
form div.radio-fields,
form div.select-field,
form div.text-field,
form div.textarea-field,
form div.time-zone-select-field,
form div.submit-field 
{
	display:  inline;
	border-bottom: 1px solid #cccccc;
	width:  100%;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

/* this is the style for the field portion */
form div.check-box-field div.input,
  form div.check-box-fields div.input,
  form div.date-field div.input,
  form div.datetime-field div.input,
  form div.file-field div.input,
  form div.password-field div.input,
  form div.radio-field div.input,
  form div.radio-fields div.input,
  form div.select-field div.input,
  form div.text-field div.input,
  form div.textarea-field div.input,
  form div.time-zone-select-field div.input,
  form div.submit-field div.input 
{
	float: right;
	display:  block;
	text-align: left;
	padding-left: 5px;
}

/* this is the style for the field portion */
form div.check-box-field div.input,
  form div.check-box-fields div.input,
  form div.date-field div.input,
  form div.datetime-field div.input,
  form div.file-field div.input,
  form div.radio-field div.input,
  form div.radio-fields div.input,
  form div.select-field div.input,
  form div.time-zone-select-field div.input,
  form div.submit-field div.input 
{
	float: left;
	display:  block;
	text-align: left;
	padding-left: 10px;
}

/* this is the style for the label portion */
form div.check-box-field label,
  form div.check-box-fields label,
  form div.date-field label,
  form div.datetime-field label,
  form div.file-field label,
  form div.password-field label,
  form div.radio-field label,
  form div.radio-fields label,
  form div.select-field label,
  form div.text-field label,
  form div.textarea-field label,
  form div.time-zone-select-field label,
  form div.submit-field label 
{
	float: left;
	display: block;
	width: 50%;
	padding-right: 5px;
	text-align: right;
}

/* This is the helper style */
form div.check-box-field label span.help,
    form div.check-box-fields label span.help,
    form div.date-field label span.help,
    form div.datetime-field label span.help,
    form div.file-field label span.help,
    form div.password-field label span.help,
    form div.radio-field label span.help,
    form div.radio-fields label span.help,
    form div.select-field label span.help,
    form div.text-field label span.help,
    form div.textarea-field label span.help,
    form div.time-zone-select-field label span.help,
    form div.submit-field label span.help 
{
	display: block;
	font-size: 80%;
	margin-top: 5px;
	line-height: 100%;
	font-style: italic;
	font-weight: normal;
}

form div.submit-field 
{
	border: none;
}

/* this is the style for the box around both submit buttons */
form div.submit-field div.input 
{
	float: right;
}

form div.check-box-fields div.input label,
form div.radio-fields div.input label 
{
	clear: left;
	width: auto;
	font-size: 110%;
}

form div.required 
{
	float: left;
	line-height: 1.4em;
}

form div.required label, form div.required p, form div.required span 
{
	color: #944;
	font-weight: bold;
}

form div.required label span.help 
{
	margin-top: 0;
}

/* End Forms */