RewriteEngine On
RewriteCond %{REQUEST_URI} !\.(css|jpg|png|gif|ico)$
RewriteCond %{DOCUMENT_ROOT}/system/maintenance.html -f
RewriteCond %{SCRIPT_FILENAME} !maintenance.html
RewriteRule ^.*$ /berris-fueller/system/maintenance.html [L]