<% title "Editing Vehicle" %>

<% content_for :navigation do %>
	<li><%= link_to 'Show', @vehicle %></li>
	<li><%= link_to 'Back', vehicles_path %></li>
<% end %>

<% form_for @vehicle, :html => {:method => :put}  do |f| %>
	<%= render :partial => 'form', :object => f %>
<% end %>

