<% title "New Vehicle" %>

<% content_for :navigation do %>
	<li><%= link_to 'Back', vehicles_path %></li>
<% end %>

<% form_for(@vehicle) do |f| %>
	<%= render :partial => 'form', :object => f %>
<% end %>

